Fakultet2/Fakultet2.WCFService/Connected Services/KolegijService/KolegijService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="KolegijService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:59352/KolegijService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:59352/KolegijService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:59352/KolegijService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Fakultet2.WCFService.Models" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IKolegijService_DohvatiKolegije_InputMessage">
    <wsdl:part name="parameters" element="tns:DohvatiKolegije" />
  </wsdl:message>
  <wsdl:message name="IKolegijService_DohvatiKolegije_OutputMessage">
    <wsdl:part name="parameters" element="tns:DohvatiKolegijeResponse" />
  </wsdl:message>
  <wsdl:message name="IKolegijService_DohvatiKolegij_InputMessage">
    <wsdl:part name="parameters" element="tns:DohvatiKolegij" />
  </wsdl:message>
  <wsdl:message name="IKolegijService_DohvatiKolegij_OutputMessage">
    <wsdl:part name="parameters" element="tns:DohvatiKolegijResponse" />
  </wsdl:message>
  <wsdl:portType name="IKolegijService">
    <wsdl:operation name="DohvatiKolegije">
      <wsdl:input wsaw:Action="http://tempuri.org/IKolegijService/DohvatiKolegije" message="tns:IKolegijService_DohvatiKolegije_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKolegijService/DohvatiKolegijeResponse" message="tns:IKolegijService_DohvatiKolegije_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DohvatiKolegij">
      <wsdl:input wsaw:Action="http://tempuri.org/IKolegijService/DohvatiKolegij" message="tns:IKolegijService_DohvatiKolegij_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IKolegijService/DohvatiKolegijResponse" message="tns:IKolegijService_DohvatiKolegij_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IKolegijService" type="tns:IKolegijService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="DohvatiKolegije">
      <soap:operation soapAction="http://tempuri.org/IKolegijService/DohvatiKolegije" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DohvatiKolegij">
      <soap:operation soapAction="http://tempuri.org/IKolegijService/DohvatiKolegij" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="KolegijService">
    <wsdl:port name="BasicHttpBinding_IKolegijService" binding="tns:BasicHttpBinding_IKolegijService">
      <soap:address location="http://localhost:59352/KolegijService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>